{
  "extends": ["react-app"],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-anonymous-default-export": "off"
  }
}
