.button {
  font-family: 'Roboto', "Helvetica", "Arial", sans-serif;
  color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  padding: 6px 16px;
  margin: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: .4px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.default {
  color: rgba(0, 0, 0, 0.87);
  background-color: #e0e0e0;
}

.default:hover {
  background: #d5d5d5;
}

.primary {
  color: #fff;
  background-color: #2196f3;
}

.primary:hover {
  background: #1976d2;
}

.danger {
  color: #fff;
  background-color: rgb(225, 0, 80);
}

.danger:hover {
  background: rgb(157, 0, 56);
}

.disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
}

.disabled:hover {
  background: rgba(0, 0, 0, 0.12);
  cursor: not-allowed;
}

.button svg {
  margin-left: 8px;
}

.fa-spinner {
  animation: circle infinite linear 1000ms;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}