button {
  margin: 14px !important;
}

.App {
  background: url(
      https://yancey-assets.oss-cn-beijing.aliyuncs.com/medium-athah-anime-creature-13-19-inches-wall-poster-matte-original-imaf9k8f2kf62shz.jpeg.jpg?x-oss-process=image/format,webp
    )
    no-repeat center center;
  background-size: cover;
}

